Source: kodi-pvr-eon
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, rapidjson-dev,
               kodi-addon-dev
Standards-Version: 4.1.2
Section: libs

Package: kodi-pvr-eon
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Eon PVR for Kodi
 Eon PVR for Kodi

Package: kodi-pvr-eon-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Eon PVR for Kodi
 debug symbols for Eon PVR for Kodi
